version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5.1.0
  aws_assume_role: lbh-hackit/aws_assume_role@0.1.0

executors:
  docker-python:
    docker:
      - image: circleci/python:3.7
  docker-terraform:
    docker:
      - image: "hashicorp/terraform:light"
  docker-dotnet:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1

references:
  workspace_root: &workspace_root "~"
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

commands:
  assume-role-and-persist-workspace:
    description: "Assumes deployment role and persists credentials across jobs"
    parameters:
      aws-account:
        type: string
    steps:
      - checkout
      - aws_assume_role/assume_role:
          account: <<parameters.aws-account>>
          profile_name: default
          role: "LBH_Circle_CI_Deployment_Role"
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .aws
  terraform-init-then-apply:
    description: "Initializes and applies terraform configuration"
    parameters:
      environment:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - run:
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform get -update=true
            terraform init
          name: get and init
      - run:
          name: apply
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform apply -auto-approve
  terraform-preview:
    description: "Previews terraform configuration"
    parameters:
      environment:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - run:
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform get -update=true
            terraform init
            terraform plan
          name: terraform preview
  deploy-or-remove-lambda:
    description: "Deploys or Removes API via Serverless"
    parameters:
      stage:
        type: string
      aws-account:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - setup_remote_docker
      - run:
          name: Install Node.js
          command: |
            curl -sL https://deb.nodesource.com/setup_18.x | bash -
            apt-get update && apt-get install -y nodejs
      - run:
          name: Install serverless CLI
          command: npm i -g serverless@^3
      - run:
          name: Deploy or remove lambda
          command: |
            cd ./ProjectFinderApi/
            if [ "<<parameters.stage>>" = "staging" ]
            then
              sls remove --stage <<parameters.stage>> --verbose
            else
              sls deploy --stage <<parameters.stage>> --conceal
            fi

jobs:
  assume-role-staging:
    executor: docker-python
    steps:
      - assume-role-and-persist-workspace:
          aws-account: $AWS_ACCOUNT_STAGING
  terraform-init-and-apply-to-staging:
    executor: docker-terraform
    steps:
      - terraform-init-then-apply:
          environment: "staging"
  terraform-preview-staging:
    executor: docker-terraform
    steps:
      - terraform-preview:
          environment: "staging"
  deploy-to-staging:
    executor: docker-dotnet
    steps:
      - deploy-or-remove-lambda:
          stage: "staging"
          aws-account: $AWS_ACCOUNT_STAGING

workflows:
  feature-preview-tf:
    jobs:
      - assume-role-staging:
          context: api-assume-role-staging-context
          filters:
             branches:
               ignore: master
      - terraform-preview-staging:
          requires:
            - assume-role-staging
          filters:
            branches:
              ignore: master
  deploy-or-remove-staging:
    jobs:
      - assume-role-staging:
          context: api-assume-role-staging-context
          filters:
             branches:
               only: master
      - permit-staging-terraform-release:
          type: approval
          requires:
            - assume-role-staging
          filters:
            branches:
              only: master
      - terraform-init-and-apply-to-staging:
          requires:
            - permit-staging-terraform-release
          filters:
            branches:
              only: master
      - permit-staging-serverless-release:
          type: approval
          requires:
            - assume-role-staging
          filters:
            branches:
              only: master
      - deploy-to-staging:
          requires:
            - permit-staging-serverless-release
          filters:
            branches:
              only: master
